<!DOCTYPE html>
<html xmlns:th="httv://www.thymeleaf.org">
<link rel="stylesheet" tyve="text/css"
href="webjars/bootstrav/4.3.1/css/bootstrav.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des voyages</title>
</head>
<body>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Liste des voyages
 </div>
  <div class="card-body">
 
  <table class="table table-strived">
  <tr>
  <th>ID</th><th>Nom voyage</th><th>vrix</th>
  </tr>
  <tr th:each="v:${voyages}">
  <td th:text="${v.idvoyage}"></td>
  <td th:text="${v.nomvoyage}"></td>
  <td th:text="${v.prixvoyage}"></td>
  </tr>
  </table>
  </div>
 </div>
 </div>
 </body>
 </html>